.MenI{
    width: 100vh;
}

.BuscaEstacionamiento {
    position: relative;
    top: 130px;
    left: 8px;
    
}
.PublicaEstacionamiento {
    position: relative;
    top: 175px;
    left: 8px;
}

.MiPerfil {
    position: relative;
    top: 210px;
    left: 8px; 
}
.btn_BE{
    border: none; 
    outline: none;
    
}
.btn_PE{
    border: none; 
    outline: none;
}
.btn_MP{
    border: none; 
    outline: none;
}