.contenedor-login{
    font-size: 20px;
    height: 100vh;   
}

.tituloR{
    font-weight: 38;
    text-align: center;
    text-shadow: 0.5px 0.5px 0px black;
    position: absolute;
    top: 40px;
    left: 90px;
    margin-top: 15%;
    font-weight: 38px;
    text-align: center;
    color: white;
}
.info{
    width: 100vh;
    font-size: 100%;
    line-height: 50px;
    font-weight: bold;
}

.contenedor-texto-Registrarse{
    margin-top: 15%;
    position: absolute;
    top: 150px;
    left: 70px;
}
.input-login{
    margin: auto;
    width: 70%;
    font-size: 20px;
    height: 40px;
    border-radius: 10px;
    display: block;
    gap: 10px;

}

.boton{
    margin-top: 70px;
    display: flex;
    align-items: center;
    background-color: black;
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 28px;
    width: 292px;
    height: 50px;
    margin-left: 50%;
    margin-right: 50%;
    transform: translate(-50%, -50%);
}

