.contenedor-login{
    font-size: 20px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;   
}

.titulo{
    font-weight: 400;
    text-align: center;
    text-shadow: 0.5px 0.5px 0px black;
}
.info{
    width: 100%;
    font-size: 100%;
    line-height: 50px;
    font-weight: bold;
}

.contenedor-texto-login{
    margin-top: 15%;
}
.input-login{
    margin: auto;
    width: 70%;
    font-size: 20px;
    height: 40px;
    border-radius: 10px;
    display: block;
    gap: 10px;

}

.boton{
    margin-top: 70px;
    display: flex;
    align-items: center;
    background-color: black;
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 28px;
    width: 292px;
    height: 50px;
    margin-left: 50%;
    margin-right: 50%;
    transform: translate(-50%, -50%);
}




.barra-input{
    width: 80%;
    height: 1px;
    background-color: black;
    border: black;
    margin-top: -2%;
    float: left;
}