.contenedor-PE{
    font-size: 20px;
    height: 100vh;   
}

.tituloPE{
    margin-top: 15%;
    font-weight: 38px;
    text-align: center;
    color: red;
    position: absolute;
    font-size: 35px;
}
.info{
    width: 100vh;
    font-size: 100%;
    line-height: 50px;
    font-weight: bold;
}

.contenedor-texto-PE{
    margin-top: 20%;
    position: absolute;
    top: 70px;
    left: 35px;
}
.Dire{
    top: -13px;
    position: absolute;
    width: 100vh;
    left: 30px;
}
.input-Direccion{
    margin: auto;
    width: 90%;
    font-size: 20px;
    height: 40px;
    border-radius: 10px;
    display: block;
    gap: 10px;
    margin: 30px;
}
.Capacidad{
    top: 67px;
    position: absolute;
    width: 100vh;
    left: 30px;
}
.input-Capacidad{
    margin: auto;
    width: 90%;
    font-size: 20px;
    height: 40px;
    border-radius: 10px;
    display: block;
    gap: 10px;
    margin: 30px;
}
.Tipo{
    top: 220px;
    position: absolute;
    width: 100vh;
    left: 30px;
}
.input-Tipo{
    margin: auto;
    width: 90%;
    font-size: 20px;
    height: 40px;
    border-radius: 10px;
    display: block;
    gap: 10px;
    margin: 30px;
}
.Contacto{
    top: 144px;
    position: absolute;
    width: 100vh;
    left: 30px;
}
.input-Contacto{
    margin: auto;
    width: 90%;
    font-size: 20px;
    height: 40px;
    border-radius: 10px;
    display: block;
    gap: 10px;
    margin: 30px;
}
.Fecha1{
    top: 300px;
    position: absolute;
    width: 100vh;
    left: 35px;
}
.input-Fecha1{
    margin: auto;
    width: 45%;
    font-size: 20px;
    height: 40px;
    border-radius: 10px;
    display: block;
    gap: 10px;
    margin: 30px;
}
.Fecha2{
    top: 300px;
    position: absolute;
    width: 100vh;
    left: 195px;
}
.input-Fecha2{
    margin: auto;
    width: 45%;
    font-size: 20px;
    height: 40px;
    border-radius: 10px;
    display: block;
    gap: 10px;
    margin: 30px;
    position: absolute;
    top: 305px;
    left: 155px;
}

.Foto{
    position: relative;
    top: -10px;
    left: 120px;
}
.input-Foto{
    position: absolute;
    top: 450px;
    left: 25px;
    width: 100%; /* Establecer un ancho fijo para mantener la consistencia */
    padding: 8px;
    margin: 6px 0;
    box-sizing: border-box;
      }

   
  
.LogoPE {
    position: relative;
    top: 25px;
    left: 60px;
    
}
.btn_logo{
    border: none; 
    outline: none;
    background-color: white;
}
.botonPublicar{
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
    border-radius: 20px;
    font-family: "Bold";
    font-size: 28px;
    width: 292px;
    height: 50px;
    margin-left: 54%;
    margin-right: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 630px;
}
.boton-texto{
    color: white;
}
