.contenedor-BE{
    font-size: 20px;
    height: 100vh;   
}
.info{
    width: 100vh;
    font-size: 100%;
    line-height: 50px;
    font-weight: bold;
}
.LogoBE {
    position: relative;
    top: 25px;
    left: 60px;
    
}
.contenedor-texto-BE{
    margin-top: 20%;
    position: absolute;
    top: 230px;
    left: 100px;
}

.tituloBE{
    margin-top: 15%;
    font-weight: 38px;
    text-align: center;
    color: black;
    position: absolute;
    font-size: 26px;
}
.barrios{
    position: absolute;
    top: 25px;
    width: 105%;
    font-size: 20px;
    height: 40px;
    border-radius: 10px;
    display: block;
    gap: 10px;
    margin: 30px;
    left: -33px;
}