.Logo {
    display: flex;
    align-items: center;
    
    }

.BotonR-I {
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; 
    
 }

 .BotonR-I button{
    height: 40px;
    padding: 10px 15px;
    margin: 2px 1px;
    width: 200px;
    
}

#btn_r{
    border: 0ch;    
    
}

#btn_r{
    border: 0ch;    
    
}




.Home{
    height: 100%;
}